.pageWrapper {
  background-color: var(--color-white);
  padding: 40px;
  padding-bottom: 0;
  padding-top: 116px;
}

.inner {
  gap: 40px;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  max-width: 1360px;
}

.heading {
  color: var(--color-black);
  font-size: 64px;
  line-height: 1.1;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.scrollContainer {
  cursor: grab;
  width: 100%;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: auto;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollContainer:active {
  cursor: grabbing;
}

.itemsGrid {
  padding: 0;
  width: max-content;
  gap: 32px;
  display: flex;
}

.itemsGrid > * {
  scroll-snap-align: start;
  max-width: 248px;
  flex: 0 0 248px;
}

.loading,
.error {
  font-size: 24px;
  padding: 40px;
  text-align: center;
}

.error {
  color: red;
}

@media (max-width: 768px) {
  .pageWrapper {
    padding: 20px;
  }

  .heading {
    font-size: 40px;
  }

  .itemsGrid > * {
    max-width: calc(100vw - 80px);
    flex: 0 0 calc(100vw - 80px);
  }
}
