.primaryBtn {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  padding: 16px 32px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primaryBtn.addToBasket {
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
}

.primaryBtn.addToBasket:hover:not(.active) {
  background-color: var(--color-black);
}

.primaryBtn.addToBasket.active {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.primaryBtn.hero {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-white);
}

.primaryBtn.hero:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.primaryBtn.hero.active {
  background-color: var(--color-light-grey);
  color: var(--color-green);
  opacity: 1;
}

.primaryBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.primaryBtn:disabled.active {
  opacity: 1;
}
