.goodCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-grey-divider);
  border-radius: 12px;
  overflow: hidden;
  width: 316px;
  position: relative;
  gap: 20px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 284px;
  overflow: hidden;
  border-bottom: 1px solid var(--color-grey-divider);
}

.buttonWrapper {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  z-index: 10;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discountBadge {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  padding: 4px 8px;
  border-radius: 6px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px 32px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading:hover {
  color: var(--color-green);
}

.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  color: var(--color-black);
}

.oldPrice {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--color-grey);
  text-decoration: line-through;
}
