.pageWrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 40px;
  padding-bottom: 0;
  padding-top: 0;
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
}

.contentBlock {
  padding: 80px 20px;
  padding-bottom: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  display: flex;
}

.photo {
  object-fit: contain;
  height: auto;
  max-width: 690px;
  width: 100%;
}

.heading {
  margin-top: 16px;
  color: var(--color-black);
  font-size: 64px;
  line-height: 1.1;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.message {
  max-width: 600px;
  color: var(--color-grey);
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.homeLink {
  margin-top: 16px;
  width: 209px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 6px;
  padding: 16px 32px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.homeLink:hover {
  background-color: var(--color-black);
}

@media (max-width: 768px) {
  .heading {
    font-size: 40px;
  }
}
