.sectionCard {
  width: 100%;
  color: var(--color-black);
  text-decoration: none;
  gap: 16px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.photoWrapper {
  background-color: var(--color-light-grey);
  overflow: hidden;
  border-radius: 12px;
  height: 350px;
  width: 100%;
}

.photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.heading {
  color: var(--color-black);
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
