.amountSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.button {
  width: 58px;
  height: 58px;
  border: 1px solid var(--color-grey-divider);
  border-radius: 6px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-black);
  transition: all 0.3s ease;
  padding: 0;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.button:hover:not(:disabled) {
  background-color: var(--color-light-grey);
  border-color: var(--color-green);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.amount {
  width: 96px;
  height: 58px;
  border: 1px solid var(--color-grey-divider);
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: var(--color-black);
}
