.basketIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-black);
  transition: color 0.3s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.basketIcon:hover {
  color: var(--color-green);
}

.badge {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 26px;
  height: 26px;
  background-color: var(--color-green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 0.9;
  padding: 0 4px;
}
